#play-btn,
#pause-btn {
    cursor: pointer;
}


#timeline,
#volume-bar {
    cursor: pointer;
}


#pause-btn {
    display: none;
}


#mute-btn {
    display: none;
}


.time-display {
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
}


.display-title-container {
    flex-grow: 1;
    display: inline;
    justify-content: flex-start;
    margin-bottom: 20px;
    flex-direction: row;
}


.episode-image {
    display: flex;
    align-items: center;
}


.episode-image img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 7px;
    border-radius: 9px;
}


.display-title {
    max-width: 100%;
    margin-left: 10px;
    margin-top: 30px;
    overflow: hidden;
    white-space: nowrap;
}


#displaying-title {
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    will-change: transform;
}

@keyframes scroll-left {
    0% {
        transform: translateX(50%);
    }

    85% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

#time-elapsed {
    margin-right: 3px;
}

#time-total {
    margin-left: 3px;
}

#live-stream-button {
    cursor: pointer;
}


.live-stream-btn {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: scale(1.2);
    position: absolute;
    right: 0;
    margin-right: 10px;
    gap: 8px;
    /* Bilið milli táknsins og textans */
}


.live-stream-text {
    font-size: 16px;
    font-weight: bold;
    color: #FF0000;
    /* Litur textans */
}

.controller_containers {
    display: flex;
    flex-direction: column;

    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}


.play_pause_volume_control {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}


.volumecontrol {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#play-btn,
#pause-btn {
    position: relative;
    top: 0;
    left: 0;
}


.controller_containers,
.timeline-container,
#timeline {
    justify-content: center;
    width: auto 100%;
    max-width: 100%;
}



#volume-btn,
#mute-btn {
    margin-right: 10px;
}


#live-stream-button {
    transition: background-color 0.3s ease;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.live-animation {
    animation: pulse 1.5s infinite;
}


#live-stream-button path {
    fill: #FF0000;
}


#live-stream-button:hover path {
    fill: #000000;
}


#play-btn circle {
    fill: #392BFF;
}


#play-btn path {
    fill: #FFFFFF;
}


#play-btn:hover circle {
    fill: grey;
}


#play-btn:hover path {
    fill: #000000;
}

#pause-btn circle {
    fill: #392BFF;
}

#pause-btn:hover circle {
    fill: grey;
}


#pause-btn rect {
    fill: #FFFFFF;
}


#pause-btn:hover rect {
    fill: #000000;
}


#volume-btn path,
#volume-btn rect {
    fill: #392BFF;
}


#volume-btn:hover path,
#volume-btn:hover rect {
    fill: #000000;
}


#mute-btn path,
#mute-btn rect {
    fill: #392BFF;
}


#mute-btn:hover path,
#mute-btn:hover rect {
    fill: #000000;
}


@media (max-width: 600px) {
    #displaying-title {
        font-size: 1rem;
        font-weight: bold;
        display: inline-block;
        will-change: transform;
    }

    .episode-image img {
        width: 90px;
        height: 90px;
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(65%);
        }

        85% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    .display-title {
        margin-left: 4px;
        margin-right: 4px;
    }

    .display-title-container {
        margin-left: 5px;
        display: block;
    }

    .live-stream-btn {
        transform: scale(1.1);
        position: relative;
        margin-bottom: 20px;
        justify-content: center;
    }

}