/* Episode list stillingar */
#episode-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#episode-list li {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.play-pause-btn {
    margin-left: 8px;
    cursor: pointer;
    /* Gera hnappinn klikkanlegan */
    position: absolute;
    right: 0.5em;
}

/* Episode image stillingar */
.episode-description img {
    max-width: 90px;
    max-height: 90px;
    margin: 0 20px 0 0;
    object-fit: cover;
    border-radius: 8px;
    z-index: 1;
}

.episode {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: 0.1px solid red;
}


/* Episode info divs stillingar */
.episode-info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.episode-info strong {
    margin-bottom: 0.2em;
    font-size: 1.4rem;
}


.episode-description div {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    max-width: 90%;
}


.episode-description div div {
    position: relative;
    max-height: 95px;

    overflow: hidden;
    transition: max-height 0.3s ease;

}



.episode-description div div.expanded {
    max-height: none;
    overflow: visible;

}


.episode-description div div:not(.expanded)+.show-more-btn {
    display: inline-block;
}

.episode-description div div.expanded+.show-more-btn {
    display: none;
}


.show-more-btn.hidden {
    display: none !important;
}

.show-more-btn.visible {
    display: inline-block !important;
}


.show-more-btn {
    height: 30px;
    width: 100px;
    padding: 2px 2px 2px 2px;
    left: 75%;
    bottom: 1.5em;
}


/* Episode info stillingar */
.episode-info {
    width: 100%;
    /* Gerir .episode-info sveigjanlegt og fyllir foreldri */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 0.7em;
    justify-content: center;
}

.episode-info strong {
    font-size: 1.3em;
    line-height: 2.2rem
}


.episode-info span {
    position: relative;
    left: 8em;
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: 600;
    font-style: italic;
}

.play-pause-btn circle {
    fill: #392BFF;
}


.play-pause-btn path {
    fill: #FFFFFF;
}


.play-pause-btn:hover circle {
    fill: grey;
}


.play-pause-btn:hover path {
    fill: #000000;
}


.play-pause-btn rect {
    fill: #FFFFFF;
}

.play-pause-btn:hover rect {
    fill: #000000;
}


@media (max-width: 600px) {

    .episode-description div {
        display: flex;
        flex-direction: row;
        max-width: 84%;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #episode-list li {
        flex-direction: column;
        width: 100%;

    }


    .play-pause-btn {
        cursor: pointer;
        /* Gera hnappinn klikkanlegan */
        position: absolute;
        right: 1.5em;
    }

    .episode-info {
        max-width: 100%;
        align-items: flex-start;
    }

    .episode-description img {
        max-width: 80px;
        max-height: 80px;
        margin: 0 10px 0 0;
        object-fit: contain;
        border-radius: 7px;
    }


    .episode-info span {
        left: 0em;
        font-size: 1em;
        padding-bottom: 0px;
    }


    .episode-info strong {
        font-size: 1.1em;
        line-height: 1.5rem;
        margin-bottom: 10px;
    }

    .show-more-btn {
        left: 74%;
        height: 25px;
        width: 85px;
        margin-bottom: -2em;
        bottom: 2em;
        padding: 1px 1px 1px 1px;
        font-size: 0.85rem;
    }

    .episode {
        box-sizing: border-box;
    }


}